/* クラス */
.highest-bar{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: darkgrey;
    align-items: center;
}

.menu-bar{
    display: flex;
    width:100%;
    height: 70px;
}

.body{
    display: flex;
}

.side-bar{
    width: 30dvh;
    height: calc(100dvh - 140px);
    background-color: black;
}

.main{
    width: 70dvh;
    height: calc(100dvh - 140px);
}